$trade-bg-color: #1e1e1e;
$success-color: #18e140;
$grey-text-color: #878787;
$buy-btn: #60db78;
$sell-btn: #ff4949;
$light-blue: #2fd5d5;
$pink-color: #df3394;
$favourite-color: #ffde0a;
$dark-main-color: #191e54;
$personal-color: #1aa235;