.eye-box.new-eye{
    right: 65px !important;
    width: 60px;
    height: 100%;
    background-color: #cecece;
    position: absolute;
    top: 0px  !important;
    text-align: center;

    i{
        top: 15px;
        position: relative;
    }
}

.menu-col{
    float: right;
    width: 30px;
    height: 30px;
    /* background-color: #080f33; */
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    top: 8px;
    right: 15px;

    i{
        font-size: 24px;
        cursor: pointer;
    }
}