.eye-box.new-eye{
    right: 65px !important;
    width: 60px;
    height: 100%;
    background-color: #cecece;
    position: absolute;
    top: 0px  !important;
    text-align: center;

    i{
        top: 15px;
        position: relative;
    }
}

.menu-col{
    float: left;
    width: 30px;
    height: 30px;
    /* background-color: #080f33; */
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    top: 8px;
    right: 0;
    margin-left: 30px;

    i{
        font-size: 24px;
        cursor: pointer;
    }
}

.multi-group{
    .error-msg{
        top: 81px !important;
    }
}
.inner-resend{
    position: absolute;
    right: 23px;
    top: 44px;
}

.profile-mobile{

    .vue-tel-input.form-control{
        padding: 0;
        background-color: transparent;

        .vti__dropdown{
            margin-right: 25px !important;
            background-color: #ececec;
            border-radius: 5px;            
        }
    }

}

.form-group--error{
    border: solid 2px red !important;
    background-color: #fff !important;
}

.form-control{

    &:focus{
        box-shadow: none !important;
        border: solid 2px #89c1ff;
    }

}