.data-table {

    thead{

        tr{


            th{
                color: #a2a4bf;
                font-size: 0.875rem;
                font-weight: 400;
                padding: 15px 30px;
                border-bottom-color: #393e77 !important;
            }

        }

    }
}

.coins-table {

    tr{
        td{
            cursor: pointer;
        }
    }

}

.trade-body.coins-body.bottom-table{
    padding-bottom: 10px !important;
}

.trade-history{

    .table-responsive{
        overflow-y: auto;
        max-height: 373px;
        min-height: 373px;
    }

    table{

        tr{
            th{
                font-size: 0.72rem !important;
                font-weight: 400 !important;
                padding: 7px 15px !important;
                vertical-align: middle !important;
            }

            td{
                font-size: 0.72rem !important;
                font-weight: 400 !important;
                padding: 7px 15px !important;
                vertical-align: middle !important;
            }
        }

    }

}