.data-table {

    thead{

        tr{


            th{
                color: #a2a4bf;
                font-size: 0.875rem;
                font-weight: 400;
                padding: 15px 30px;
                border-bottom-color: #393e77 !important;
            }

        }

    }
}

.coins-table {

    tr{


        td{
            cursor: pointer;
        }

    }

}