.setting{
     font-size: 11rem;
     font-weight: 1600;
    
} 

.change-password {
  font-size: 0.875rem;
  font-weight: normal;
  margin-left: 0;
  margin-top: 15px;
}

.paragraph{
  font-size: 0.875rem;
  font-weight: normal;
}

.textFields{
  margin-left: 0;
  margin-top: 15px;
}