.Withdraw-Crypto{
    margin-left: 30px;
   font-family: Rubik;
   font-size: 1rem;
   font-weight: 600;
}

.labels{
    font-family: Rubik;
    font-size: 0.75rem;
    font-weight: normal;
}
.textFields{
    margin-left: 60px;
 
  }
  .BTC-available {
     font-family: Rubik;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #878787;
    margin-left: 26.2rem; 
    margin-top: 0.50rem;
  }

  .BTC-spot-balance {
   
    font-family: Rubik;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    
  }

  .BTC {
    font-family: Rubik;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
  
  }
  
  .crd{
    background-color: #3f4054;
    width: 20.813rem;
    height: 0.0;
    margin: 0.5rem 0 6.7rem 8.125rem;
    padding: 1.125rem 1.688rem 2.5rem;
    border-radius: 10px;
    margin-left: 5rem;
  }

  .Receive-Amount {
   color: var(--white);
   
  }

  .Receive-Amount-p {
    font-family: Rubik;
    font-size:  1.063rem;
    font-weight: normal;
    size: 20px;
    margin-top:1rem ;
    
  }

  .Values {
    font-family: Rubik;
    font-size: 2rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
   
  }
  .btc{
    font-family: Rubik;
    font-size: 0.75rem;
    font-weight: 600;
    font-stretch: normal;
    color: #878787;
    margin-top: 1.5rem;
    margin-left: -2rem;
  }
 

  .BTC-network-fee-included {
   
    font-family: Rubik;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #878787;
  }

  .btn{
      margin-top: -9rem;
      margin-left: 16rem;
      font-family: Rubik;
      font-size: 1rem;
      font-weight: normal;
      
  }
  .Security-Verification {
   
    font-family: Rubik;
    font-size: 1.5rem;
    font-weight: 600;
   
  }

  .Security-model{
    min-height: auto;
    border-radius: 10px;
    background-color: #ececec;
  }
 .Card-ph{
  font-family: Rubik;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #707070;
 }

 .Card-ph-2{
  font-family: Rubik;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #0f1125;
  text-align: left;
 }
 .Paragraph-Line{
 
  font-family: Rubik;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #0f1125;
 }
 .Didnt-received-Resend {
  font-family: Rubik;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #0f1125;
  margin-left: 17rem;
}

.Modal-Textfiel{
 margin-left: 3.9rem;
 margin-top: -1rem;
}

.Modal-btn{
  margin-top: -1.4rem;
  margin-left: 1rem;
}
