.security-row {

    margin-bottom: 25px;

    p{
        color: #000;
        font-weight: 400;
        padding-bottom: 7px;
    }

    img{
        right: 25px !important;
        top: 48px !important;
    }

}

.reset1{
    margin-left: 0 !important;
    margin-top: 0 !important;
}