.trade-box{
    color: #fff;
    border-radius: 5px;
    background-color: #242424;
    padding: 15px;
    min-height: 100px;

    .status1{
        float: left;
        width: 100%;

        img{
            width: 20px;
            float: left;
        }
        h3{
            float: left;
            margin-right: 15px;
        }
    }
}